<!DOCTYPE html>
<html>
<title>VueJS Plugins Examples</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}
.w3-row-padding img {margin-bottom: 12px}
/* Set the width of the sidebar to 120px */
.w3-sidebar {width: 120px;background: #222;}
/* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
#main {margin-left: 120px}
/* Remove margins from "page content" on small screens */
@media only screen and (max-width: 600px) {#main {margin-left: 0}}


.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #303030;
   color: white;
   text-align: CENTER;
   font-family: poppins;
   font-size: 20px;
}


a {
  color: white;
  text-decoration: none;
  /* First we need to help some browsers along for this to work.
     Just because a vendor prefix is there, doesn't mean it will
     work in a browser made by that vendor either, it's just for
     future-proofing purposes I guess. */
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  /* ...and now for the proper property */
  transition:.5s;
}
a:hover { color: #57a2b8; }


</style>
<body class="w3-black">

<nav class="w3-sidebar w3-bar-block w3-small w3-hide-small w3-center">
  <a href="#" class="w3-bar-item w3-button w3-padding-large w3-black">
    <p style= "text-align: left">VueJS Plugins Examples</p>
  </a>
  <a href="#about" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <p style= "text-align: left">Pick Stratigraphic Units</p>
  </a>
  <a href="#photos" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <p style= "text-align: left">Isolate Elements</p>
  </a>
  <a href="#contact" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <p style= "text-align: left">Modals</p>
  </a>
</nav>

<div class="w3-top w3-hide-large w3-hide-medium" id="myNavbar">
  <div class="w3-bar w3-black w3-opacity w3-hover-opacity-off w3-center w3-small">
    <a href="#" class="w3-bar-item w3-button" style="width:25% !important">HOME</a>
    <a href="#about" class="w3-bar-item w3-button" style="width:25% !important">ABOUT</a>
    <a href="#photos" class="w3-bar-item w3-button" style="width:25% !important">PHOTOS</a>
	<a href="#contact" class="w3-bar-item w3-button" style="width:25% !important">CONTACT</a>
  </div>
</div>


<div class="w3-padding-large" id="main">
  <header class="w3-container w3-text-grey w3-padding-32 w3-center w3-black" id="home">
  <h2 class="w3-text-light-grey" style= "text-align: left">VueJS Plugins Examples</h2>
  
  <p class="w3-text-grey" style= "text-align: left">Some VueJS plugins examples ad-hoc designed on the default BIMData basic plugins. </p>
   <p class="w3-text-grey" style= "text-align: left">Pick stratigraphic units in order to annotate archaeological units on the model; Isolate Elements for graphically quarying objects and their classification; Modals for the purpose of adding information via pop-up windows. </p>
  </header>


  <div class="w3-content w3-justify w3-text-grey w3-padding-64" id="about">
    <h2 class="w3-text-light-grey">Pick Stratigraphic Units</h2>
    <hr style="width:200px" class="w3-opacity">
   <xmp style= "text-align: left">

viewer.registerPlugins([{
    name: "Pick Stratigraphic units",
    component: {
        template: `
        <div style="width: 225px">
		<h4>Pick stratigraphic units</h4>
          <select v-model="priority" style="width: 100%; height: 30px">
		    &nbsp
            <option disabled value="">Stratigraphic Units</option>
			&nbsp
            <option value="low">US</option>
            <option value="medium">USR</option>
            <option value="high">USM</option>
            </select>
            <input type="text" v-model="index" style="text-align: center; height: 30px">
		        &nbsp
		        <button @click="onLink_0Click" class="btn2-group" style="height:30px">Help</button>
			&nbsp
			<button @click="onLink_1Click" class="btn2-group" style="height:30px">Remove selected unit</button>
			&nbsp
			<button @click="onLink_2Click" class="btn2-group" style="height:30px">Remove all units</button>
        </div>
        `,
        data() {
            return {
                priority: "",
                pickSubscription: null,
                index: 1
            };
        },

        methods: {
            onLink_0Click() {
                this.$plugins.modalManager.pushModal({
                    template: `
                <div style="margin:50px; width: 800px">
				<h2 style="text-align: justify">Pick stratigraphic units - help</h2>
				<p>1) Select stratigraphic units typology and units number</p>
			    <p>2) Pick units on highlight object of the model</p>
				<p>3) Picked units will appear on the objects center of mass</p>
				&nbsp
				<p>- Press "Remove selected units" button in order to delete selected unit (object must be selected)</p>
				<p>- Press "Remove all units" button in order to delete ALL units</p>
								&nbsp
				<h3 style="text-align: justify">ATTENTION!</h3>
				<p>This tool has no memory and then no save option! Once you finished picking units you can save a screeshot</p>
                </div>`
                })
            },
            onLink_1Click() {
                this.$hub.emit("delete-annotations", {
                    ids: this.$utils.getSelectedObjectIds()
                });
            },
            onLink_2Click() {
                this.$hub.emit("clear-annotations")
            },
        },


        props: ["active"],
        watch: {
            active: {
                handler(active) {
                    const viewer3D = this.$plugins.viewer3D;
                    viewer3D.selectOnClick = !active;
                    // viewer3D.highlightOnHover = !active; // To remove the highlight on hover
                    if (active) {
                        document.body.style.setProperty("cursor", "copy", "important");
                        this.pickSubscription = viewer3D.xeokit.cameraControl.on(
                            "picked",
                            pickResult => {
                                if (!this.priority) {
                                    return this.$hub.emit('alert', {
                                        type: 'warning',
                                        message: 'Please select a stratigraphic units typology'
                                    });
                                }
                                if (!pickResult || !pickResult.entity) return;
                                this.$hub.emit("create-annotations", {
                                    ids: [pickResult.entity.id],
                                    index: this.index,
                                    priority: this.priority
                                });
                            }
                        );
                    }
                }
            }
        }
    },
    display: {
        iconPosition: "left",
        content: "simple"
    },
    icon: {
        imgUri: 'https://img.icons8.com/ios-filled/35/000000/circled-dot.png'
    },
    keepActive: true,
    tooltip: "stratigraphic.tooltip",
    i18n: {
        en: {
            stratigraphic: {
                tooltip: "Pick Stratigraphic Units",
            }
        }
    },
}])

	</xmp>
	
  </div>
  

  <div class="w3-padding-64 w3-text-grey w3-content" id="photos">
    <h2 class="w3-text-light-grey">Isolate Elements</h2>
    <hr style="width:200px" class="w3-opacity">

    <xmp style="width: fit-content" "block-size: fit-content">

 viewer.registerPlugins([{
    name: "Isolate Elements",
    component: {
        template: `
        <div style="width:230px" class="btn-group">
         <button @click="onIsolateWallsClick">Walls</button>
		<button @click="onIsolateColumnsClick">Columns</button>
		<button @click="onIsolateFootingsClick">Footings</button>
		<button @click="onIsolateWindowsClick">Windows</button>
		<button @click="onIsolateBeamsClick">Beams</button>
		<button @click="onIsolateSlabClick">Slabs</button>
		<button @click="onIsolateStairsClick">Stairs</button>
		<button @click="onIsolateDoorsClick">Doors</button>
		<button @click="onIsolateFurnituresClick">Furnitures</button>
		<button @click="onIsolateElementClick">Building Element</button>
		<button @click="onIsolateRoofClick">Roof</button>	    
        <button @click="onUnisolateClick" style="background-color: #ececec">Reset scene</button>
        </div>`,
        methods: {
            onIsolateWallsClick() {
                this.$hub.emit("isolate-objects", {
                    ids: this.$utils.getAllObjectsOfType("wall")
                        .map(object => object.uuid)
                });
            },
            onIsolateColumnsClick() {
                this.$hub.emit("isolate-objects", {
                    ids: this.$utils.getAllObjectsOfType("column")
                        .map(object => object.uuid)
                });
            },
            onIsolateFootingsClick() {
                this.$hub.emit("isolate-objects", {
                    ids: this.$utils.getAllObjectsOfType("footing")
                        .map(object => object.uuid)
                });
            },
            onIsolateBeamsClick() {
                this.$hub.emit("isolate-objects", {
                    ids: this.$utils.getAllObjectsOfType("beam")
                        .map(object => object.uuid)
                });
            },
            onIsolateSlabClick() {
                this.$hub.emit("isolate-objects", {
                    ids: this.$utils.getAllObjectsOfType("slab")
                        .map(object => object.uuid)
                });
            },
            onIsolateStairsClick() {
                this.$hub.emit("isolate-objects", {
                    ids: this.$utils.getAllObjectsOfType("stair")
                        .map(object => object.uuid)
                });
            },
            onIsolateDoorsClick() {
                this.$hub.emit("isolate-objects", {
                    ids: this.$utils.getAllObjectsOfType("door")
                        .map(object => object.uuid)
                });
            },
            onIsolateFurnituresClick() {
                this.$hub.emit("isolate-objects", {
                    ids: this.$utils.getAllObjectsOfType("furnishing_element")
                        .map(object => object.uuid)
                });
            },
            onIsolateElementClick() {
                this.$hub.emit("isolate-objects", {
                    ids: this.$utils.getAllObjectsOfType("building_element")
                        .map(object => object.uuid)
                });
            },
            onIsolateWindowsClick() {
                this.$hub.emit("isolate-objects", {
                    ids: this.$utils.getAllObjectsOfType("window")
                        .map(object => object.uuid)
                });
            },
            onIsolateRoofClick() {
                this.$hub.emit("isolate-objects", {
                    ids: this.$utils.getAllObjectsOfType("roof")
                        .map(object => object.uuid)
                });
            },
            onUnisolateClick() {
                this.$hub.emit("unisolate-all-objects");
            }
        }
    },
    display: {
        iconPosition: 'left',
        content: 'simple'
    },
    icon: {
        imgUri: 'https://img.icons8.com/ios-filled/35/000000/select-cell.png',
    },
    keepActive: true,
    tooltip: "myCustomPlugin.tooltip",
    i18n: {
        en: {
            myCustomPlugin: {
                tooltip: "Isolate Elements",
            }
        },
    }
}]);
	</xmp>

  </div>


  <div class="w3-padding-64 w3-content w3-text-grey" id="contact">
    <h2 class="w3-text-light-grey">Modals</h2>
    <hr style="width:200px" class="w3-opacity">

    <xmp style="width: fit-content" "block-size: fit-content">

        viewer.registerPlugins([{
        name: "modals",
        component: {
        render() {
            return null;
        },
        created() {
            this.$plugins.modalManager.pushModal({
            template: `
                <div style="margin:70px; width: 280px; text-align: center">
                <h1>SAMPLE TITLE</h1>
		<a>SAMPLE SUB TITLE</a>
                </div>`
            });
         },
        },
        }]);

	</xmp>
  </div>
  
  <div class="footer">
  <p> <a href= "https://ark-bim.github.io/index.html">GO BACK TO ARK-BIM</a> </p> 
</div>
  
</div>

</body>
</html>
